/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #ffffff;
  --secondary-color: #ebede8;
  --footer-color: #000000;
  --accent-color: #e33d26;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 320px;
  text-align: center;
  margin: auto;
  background-color: var(--main-color);
  box-shadow: #000000;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

/* 
font-family: 'Libre Franklin', sans-serif;
font-family: 'Sorts Mill Goudy', serif;
*/

nav {
  font-family: "Libre Franklin";
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}

nav a {
  margin: 0px 8px;
}

.intro-card {
  padding: 20px;
}

.accent-text {
  font-family: "Libre Franklin";
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--accent-color);
  display: inline-block;
  padding: 0px 20px;
  border-radius: 20px;
  margin: 10px 0px 20px 0px;
}

h1 {
  font-family: "Sorts Mill Goudy";
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-family: "Sorts Mill Goudy";
  line-height: 1.2;
  margin: 15px;
}

.cooks-name {
  font-family: "Libre Franklin";
  text-transform: uppercase;
  font-weight: 700;
}

.articles {
  background-color: var(--secondary-color);
  padding: 20px;
}

h2 {
  font-family: "Sorts Mill Goudy";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 1px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

article img {
  margin-top: -2.5px;
}

article {
  padding-bottom: 18px;
  background-color: var(--main-color);
  margin-bottom: 20px;
  border: 1px solid #858585;
}

h3 {
  font-family: "Libre Franklin";
  font-size: 20px;
  line-height: 1.2;
  margin-top: 18px;
}

footer {
  padding: 0px 15px;
  background-color: var(--footer-color);
  color: var(--main-color);
  text-align: left;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.footer-container a {
  margin: 0px;
  padding: 0px;
}

h4 {
  font-family: "Sorts Mill Goudy";
  font-size: 20px;
  line-height: 1.2;
  margin: 30px 0px -20px 0px;
}

nav {
  flex-direction: column;
}
